{% extends '../case-studies.twig' %}

{% block content %}

    <div class="hide-mobile">
        <div class="space-top header flex-column">
            <div class="header__bg green">
                <div class="bg bg-green flex-column case-study">
                    <div class="container text-styles">
                        <div class="flex-column text-color-white center">
                            <p class="uppercase">Case Study</p>
                            <h1>AdTechMedia</h1>
                            <h5 class="text-24 marginTop36">
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="laptop marginTop-200 container-bottom">
            <div id="laptop-anim"></div>
        </div>
        <section>
            <div class="container">
                <div class="widthBlock80">
                    <div class="flex-row block-space up80 down80">
                        <div class="flex-item-6">
                            <div class="text-bold text-20">
                                AdTechMedia is on a mission to build the world's most simple content monetization product.
                                Imagine you are a publisher, a journalist or a blogger, and your core business is
                                to create content that people love.
                            </div>
                        </div>
                        <div class="flex-item-6">
                            <div class="text-20">
                                Do you have extra time in your busy schedule to learn how to setup and manage
                                Apple Pay or PayPal, Google Doubleclick For Publishers or Revive Ad Server,
                                JavaScript or NodeJS? If the answer is strong NO, please continue reading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block up80 down80">
             <div class="container">
                <div class="widthBlock80 img-up">
                    <div class="flex-row block-space display-grid">
                        <div class="flex-item-6">
                            <div class="text-20 checked-atm">
                                AdTechMedia product simplifies content creators journey to revenue generation.
                                In just couple of clicks, you can:
                                <div class="flex marginTop36">
                                    <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                    <p class="text-20">
                                        <span class="text-italic-semibold">Install and activate WordPress plugin </span>
                                        from wordpress.org (or Drupal module from drupal.org), no technical skills required;
                                    </p>
                                </div>
                                <div class="flex marginTop36">
                                    <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                    <p class="text-20">
                                        <span class="text-italic-semibold">Choose the revenue options </span>
                                        your readers will be seamlessly provided;
                                    </p>
                                </div>
                                <div class="flex marginTop36 paddingBottom36">
                                    <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                    <p class="text-20">
                                        <span class="text-italic-semibold">Customize any other look and feel settings </span>
                                        your readers will be seamlessly provided;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item-6 flex-column">
                            <img class="fullscreen-img"
                                {{ images['/images/v2/case-studies/adtechmedia.png'] }}
                                sizes="(max-width: 500px) 100w, ((min-width: 500px) and (max-width: 800px)) 50vw, 25vw"
                                alt="AdTechMedia Working Schemma" />
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </section>
        <section>
            <div class="up80 down80">
                <div class="container">
                   <div class="widthBlock80">
                       <div class="flex-row block-space">
                           <div class="flex-item-6 flex-column atm-img">
                               <img class="fullscreen-img big-img marginTop-200"
                                    src="{{ asset('@images/v2/case-studies/monetization.png') }}"
                                    alt="AdTechMedia simplifies content creators way to revenue" />
                           </div>
                           <div class="flex-item-6">
                               <div class="text-20 checked-atm">
                                   AdTechMedia product simplifies content creators journey to revenue generation.
                                   In just couple of clicks, you can:
                                   <div class="flex marginTop36">
                                       <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                       <p class="text-20">
                                           <span class="text-italic-semibold">Install and activate WordPress plugin </span>
                                           from wordpress.org (or Drupal module from drupal.org), no technical skills required;
                                       </p>
                                   </div>
                                   <div class="flex marginTop36">
                                       <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                       <p class="text-20">
                                           <span class="text-italic-semibold">Choose the revenue options </span>
                                           your readers will be seamlessly provided;
                                       </p>
                                   </div>
                                   <div class="flex marginTop36">
                                       <img src="{{ asset('@images/v2/illustration/checked-green.svg') }}" alt="Checked Image">
                                       <p class="text-20">
                                           <span class="text-italic-semibold">Customize any other look and feel settings </span>
                                           your readers will be seamlessly provided;
                                       </p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block up80 down80">
                <div class="container">
                    <div class="center">
                        <h3 class="text-36-SemiBold">The Challenge</h3>
                    </div>
                    <div class="widthBlock80">
                        <div class="flex-row block-space marginTop36">
                            <div class="flex-item-6 flex-column">
                                <img class="fullscreen-img marginLeft-43"
                                    {{ images['/images/v2/case-studies/devices.png'] }}
                                    sizes="(max-width: 500px) 100w, ((min-width: 500px) and (max-width: 800px)) 50vw, 25vw"
                                    alt="Case Study AdTechMedia">
                            </div>
                            <div class="flex-item-6 text-20">
                                The success of our business is directly dependent on how fast and how easy
                                content consumers are able to go through monetization process in order to consume content.
                                We provide native look and feel, meaning AdTechMedia's code is pre-loaded on customers'
                                websites and executed in most optimal way as any other first party script.
                                Any unnecessary steps or unwanted delays in monetization workflow will result
                                in lost revenue, and nobody wants that.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="widthBlock80 block-left">
                    <div class="up80">
                        <div class="center">
                            <h3 class="text-36-SemiBold">Why Mitoc Group?</h3>
                            <div class="mobile-img">
                                <img class="img-size" src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}">
                            </div>
                        </div>
                        <div class="flex-row block-space">
                            <div class="flex-item-6">
                                <div class="marginTop36 text-20">
                                    We have been working with serverless computing for some time and we absolutely love it.
                                    The promise of managed scalability and the breath of cloud native services that
                                    proved sustainability over time made us to choose Amazon Web Services.
                                    <span class="text-bold">Mitoc Group</span>, an <span class="text-bold">AWS Advanced Technology Partner</span>
                                    and featured <span class="text-bold">AWS Lambda Partner</span>,
                                    is one of pioneers and early adopters of serverless architecture.
                                    Team's skills and experience cultivated trust and confidence that
                                    AdTechMedia engineering effort is in the right hands.
                                </div>
                            </div>
                            <div class="flex-item-6 center flex-column space">
                                <img class="img-size web-img" src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="widthBlock80">
                    <div class="up80 down80">
                        <div class="center">
                            <h3 class="text-36-SemiBold">The Benefits</h3>
                        </div>
                        <div class="flex-row block-space case-study">
                            <div class="flex-item-6 center flex-column space">
                                <img class="img-size" src="{{ asset('@images/v2/case-studies/benefits-aws.svg') }}">
                            </div>
                            <div class="flex-item-6">
                                <div class="marginTop36 text-20">
                                    <span class="text-bold">AWS Serverless</span> provides an incredibly rich suite of next generation cloud native services.
                                    Mitoc Group made it easier and quicker to build and release software,
                                    as well as manage services and associated resources.
                                    We increased development agility and reduced product's time to market.
                                    Engaging continuous integration and continuous deployment processes allowed
                                    us to remain a small team with a tiny budget.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script async src="{{ asset('@js/adtechmedia.min.js') }}"></script>
{% endblock %}
