{% extends '../partners.twig' %}

{% block content %}
<div class="hide-mobile">
  <div class="space-top header flex-column gray-block">
    <div class="header__bg green">
      <div class="bg bg-green flex-column">
        <div class="container text-styles">
          <div class="flex-row display-grid">
            <div class="flex-item-3">
              <img class="cloud-img" src="{{ asset('@images/v2/logos/2ndwatch-white.svg') }}"
                alt="2ndWatch Logo"/>
            </div>
            <div class="flex-item-9 flex-column text-color-white">
              <p>Partners Program</p>
              <h1>2nd Watch</h1>
              <h5 class="text-24 marginTop36">
                An enterprise workload management provider that helps companies accelerate data
                center capacity growth through adoption of the Amazon Web Services cloud.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gray-block">
    <div class="container center">
      <div class="widthBlock80 up80 down80 text-light text28">
        The organization's <span class="text-italic-semibold">cloud-native services</span> and
        <span class="text-italic-semibold">tools implement</span> and <span class="text-italic-semibold">automate critical workload
        management</span> processes including migration, procurement, provisioning, operations,
        financial management, and governance.
      </div>
      <div class="block-img">
        <div class="flex-row display-grid">
          <div class="flex-item-7 what-is flex-column gradient-left-right green">
            <div class="text-color-dark text-italic text-left">
              <span class="text-italic text-color-white">
                The team works primarily with enterprise businesses across
                industries in the United States, and have shifted workloads into
                more than 75,000 instances in the AWS cloud.
              </span>
            </div>
          </div>

          <div class="flex-item-5">
            <img src="{{ asset('@images/v2/png/2ndwatch.png') }}" alt="Image"/>
          </div>
        </div>
      </div>
      <div class="widthBlock80 marginTop61 text-left down80">
        <div class="flex-row block-space">
          <div class="flex-item-6">
            <p class="paddingBottom20 text-20">
              2nd Watch has worked with AWS since its founding in 2010, and has been an
              APN Partner since 2011. The company is a Premier APN Consulting Partner,
              AWS Channel Reseller Partner, AWS MSP Partner, and holds the Big Data,
              Life Sciences, Marketing & Commerce, DevOps, and Microsoft SharePoint Competencies.
            </p>
            <p class="paddingBottom20 text-20">
              "Since its inception, 2nd Watch has been a cloud-native company. We are cloud born,
              and 100 percent public cloud and AWS focused," said Jeff Aden,
              EVP of Strategic Business Development & Co-Founder at 2nd Watch.
            </p>
            <p class="text-20">
              Since 2010, the 2nd Watch team has been focused on providing enterprise
              customers with solutions that are highly flexible, scalable, and available.
              Enterprise capabilities were the biggest criteria for 2nd Watch in deciding
              to build its business on the cloud.
            </p>
          </div>
          <div class="flex-item-6">
            <p class="text-20 paddingBottom20">
              The 2nd Watch team determined early on that by focusing its business solely
              on the cloud, the company would be able to not only support the needs
              of its enterprise customers, but to innovate on behalf of its customer
              base and provide best of breed services and tools to address enterprise business needs
            </p>
            <p class="text-20">
              2nd Watch believes its business of building and managing production applications
              for the enterprise throughout the lifecycle of those applications would
              be critical for enterprise customers exploring cloud-based solutions,
              and would bring a high level of value to a public cloud provider in working with enterprise customers.
            </p>
          </div>
        </div>
      </div>
      <div class="gray-block up80 down80">
        <div class="container">
          <div class="text-styles center">
            <h3 class="text-color-green">it always seems impossible until it's done.</h3>
            <h2>Our Partners Are The Backbone Of Our Business</h2>
          </div>
          <div class="flex-row pictures-block marginTop36">
            <div class="flex-item-4 cols">
              <div class="services flex-column">
                <a href="../../partners/google/">
                  <div class="hover-effect">
                    <img class="partners-img" src="{{ asset('@images/v2/logos/google-cloud.svg') }}" alt="Google Cloud"/>
                  </div>
                  <h3>Google Cloud Platform</h3>
                  <p>
                    Google Cloud Platform, offered by Google, is a suite of cloud computing
                    services that runs on the same infrastructure that Google uses internally for its end-user products, such as Google Search and YouTube. Google Cloud
                    Platform provides Infrastructure as a service (IaaS), Platform as a service (PaaS), and Serverless computing environments.
                  </p>
                </a>
                <a class="read-more" href="../../partners/google/">Learn More
                  <i class="mdi mdi-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="flex-item-4 cols">
              <div class="services flex-column">
                <a href="../../partners/">
                  <div class="hover-effect">
                    <img class="partners-img" src="{{ asset('@images/v2/illustration/become-partner.svg') }}"
                         alt="Become partner"/>
                  </div>
                  <h3>Our Amazing Partners</h3>
                  <p>
                    Our partners build technology and software that bring more businesses online, enable new types of businesses, and help them work more effectively.
                  </p>
                </a>
                <a class="read-more" href="../../partners/">Learn More <i
                      class="mdi mdi-chevron-right"></i></a>
              </div>
            </div>
            <div class="flex-item-4 cols">
              <div class="services flex-column">
                <a href="../../partners/aws/">
                  <div class="hover-effect">
                    <img class="partners-img" src="{{ asset('@images/v2/logos/aws.svg') }}" alt="Aws Logo"/>
                  </div>
                  <h3>Amazon Web Service</h3>
                  <p>
                    In 2006, Amazon Web Services (AWS) began offering IT infrastructure services
                    to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to
                    replace up-front capital infrastructure expenses with low variable costs that scale with your business.
                  </p>
                </a>
                <a class="read-more" href="../../partners/aws/">Learn More
                  <i class="mdi mdi-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
