{% extends '../partners.twig' %}

{% block content %}
<div class="hide-mobile">
  <div class="space-top header flex-column gray-block">
    <div class="header__bg orange">
      <div class="bg bg-orange flex-column">
        <div class="container text-styles">
          <div class="flex-row display-grid">
            <div class="flex-item-3">
              <img class="cloud-img" src="{{ asset('@images/v2/logos/aws-white.svg') }}" alt="Amazon Web Services Logo"/>
            </div>
            <div class="flex-item-9 flex-column text-color-white">
              <p>Partners Program</p>
              <h1>Amazon Web Services</h1>
              <h5 class="text-24 marginTop36">
                A secure cloud services platform, offering compute power, database storage, content delivery and other functionality to help businesses scale and grow.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gray-block">
    <div class="container center">
      <div class="widthBlock80 up80 down80 text-light text28">
        Explore how millions of customers are currently leveraging
        <span class="text-italic-semibold">AWS cloud products</span>
        and
        <span class="text-italic-semibold">solutions</span>
        to build sophisticated applications with increased flexibility, scalability and reliability.
      </div>
      <div class="block-img">
        <div class="flex-row display-grid">
          <div class="flex-item-7 what-is flex-column gradient-left-right">
            <div class="text-color-dark text-italic text-left">
              <span class="text-italic text-color-white">
                Since the beginning of its existence,
                <span class="text-italic-semibold">Mitoc Group</span>
                provided enterprise customers with
                <span class="text-italic-semibold">innovative and cutting edge technology</span>, powered by
                <span class="text-italic-semibold">Amazon Web Services (AWS)</span>
              </span>
            </div>
          </div>
          <div class="flex-item-5">
            <img src="{{ asset('@images/v2/png/aws-png.png') }}" alt="Amazon Web Services"/>
          </div>
        </div>
      </div>
        <div class="column text-left paddingBottom61 marginTop61 widthBlock80 text-20">
            Our mission is to enable businesses and developers to provide high-value products and services in a constantly changing digital world. We aim to help end users (especially non-technical ones) to benefit from cloud promise of solving business needs through simple and secure technology.
        </div>
    </div>
  </div>
  <div class="orange-mid what-is">
    <div class="container">
      <div class="widthBlock60 text-color-white text-left up80 down80">
        <h2 class="text-uppercase">What Is DEEP?</h2>
        <div class="text-italic">
          <span class="text-italic-semibold">Mitoc Group</span>
          is the creator of Digital Enterprise End-to-end Platform (also known as
          <span class="text-italic-semibold">DEEP</span>). This ecosystem includes:
        </div>
        <ul class="square marginTop36 text-20">
          <li>
            <span class="text-bold">DEEP Framework</span>
            - full-stack JavaScript framework for cloud native web applications (perfect for Serverless use cases)
          </li>
          <li class="marginTop36">
            <span class="text-bold">DEEP CLI</span>
            - the software development tool-chain that abstracts package management and associated development operations.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="up80 down80 checked">
    <div class="container">
      <div class="center text-styles">
        <h3 class="text-color-orange">it always seems impossible until it's done.</h3>
        <h2 class="widthBlock70">Serverless Architecture</h2>
      </div>
      <div class="widthBlock60">
        <div class="flex-row marginTop36 text-light block-space">
          <div class="flex-item-6">
            <div class="paddingBottom20 flex">
              <img src="{{ asset('@images/v2/illustration/checked.svg') }}" alt="Checked Image"/>
              <p class="text-20">
                <span class="text-italic-semibold">Security tier:</span>
                Amazon IAM + Amazon Cognito
              </p>
            </div>
            <div class="paddingBottom20 flex">
              <img src="{{ asset('@images/v2/illustration/checked.svg"') }}" alt="Checked Image"/>
              <p class="text-20">
                <span class="text-italic-semibold">Back-end tier:</span>
                Amazon API Gateway + AWS Lambda + Amazon SNS
              </p>
            </div>
            <div class="paddingBottom20 flex">
              <img src="{{ asset('@images/v2/illustration/checked.svg') }}" alt="Checked Image"/>
              <p class="text-20">
                <span class="text-italic-semibold">Monitoring tier:</span>
                Amazon CloudWatch + Amazon CloudTrail + Amazon Elasticsearch
              </p>
            </div>
          </div>
          <div class="flex-item-6">
            <div class="paddingBottom20 flex">
              <img src="{{ asset('@images/v2/illustration/checked.svg') }}" alt="Checked Image"/>
              <p class="text-20">
                <span class="text-italic-semibold">Front-end tier:</span>
                Amazon S3 + Amazon CloudFront
              </p>
            </div>
            <div class="flex">
              <img src="{{ asset('@images/v2/illustration/checked.svg') }}" alt="Checked Image"/>
              <p class="text-20">
                <span class="text-italic-semibold">Data tier:</span>
                Amazon DynamoDB + Amazon SQS / Amazon Kinesis + Amazon Elasticache / Amazon Elasticsearch
              </p>
            </div>
          </div>
        </div>
      </div>
      <img class="fullscreen-img lazyload" data-src="{{ asset('@images/v2/png/aws-architecture.png') }}" alt="DEEP Framework Architecture"/>
      <div class="display-flex marginTop36 read-watch">
        <div class="widthBlock30">
          <h4 class="text-36-SemiBold">Mitoc Group is the creator of DEEP Framework</h4>
          <p class="marginTop36">DEEP - the open source full-stack JavaScript framework for building cloud-native web applications.</p>
        </div>
        <div class="half-aws">
          <div class="hover-effect-scale">
            <a class="display-flex" href="https://www.youtube.com/playlist?list=PLPGfD-tGOl7uNDXo_eMN1odMZflYVu2n9" target="_blank" rel="noreferrer">
              <img src="{{ asset('@images/v2/illustration/youtube.svg') }}" alt="YouTube Icon"/>
              <p class="text-italic">
                <span class="text-italic-semibold text-color-orange">Watch</span>
                this tutorial to learn more
              </p>
            </a>
          </div>
          <div class="text-left text-italic">or</div>
          <div class="hover-effect-scale">
            <a class="display-flex" href="/blog/building-enterprise-level-web-applications-on-aws-lambda-with-the-deep-framework" rel="noopener">
              <img src="{{ asset('@images/v2/illustration/medium.svg') }}" alt="Medium Icon"/>
              <p class="text-italic">
                <span class="text-italic-semibold text-color-orange">Read</span>
                <br>this blog post to learn more
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="gray-block up80 down80">
    <div class="container">
      <div class="text-styles center">
        <h3 class="text-color-green">it always seems impossible until it's done.</h3>
        <h2>Our Partners Are The Backbone Of Our Business</h2>
      </div>
      <div class="flex-row pictures-block marginTop36 partner-aws">
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/google/">
              <div class="hover-effect">
                <img class="partners-img" src="{{ asset('@images/v2/logos/google-cloud.svg') }}" alt="Google Cloud"/>
              </div>
              <h3>Google Cloud Platform</h3>
              <p>
                Google Cloud Platform, offered by Google, is a suite of cloud computing
                services that runs on the same infrastructure that Google uses internally for its end-user products, such as Google Search and YouTube. Google Cloud
                Platform provides Infrastructure as a service (IaaS), Platform as a service (PaaS), and Serverless computing environments.
              </p>
            </a>
            <a class="read-more" href="../../partners/google/">Learn More
              <i class="mdi mdi-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/">
              <div class="hover-effect">
                <img class="partners-img" src="{{ asset('@images/v2/illustration/become-partner.svg') }}"
                     alt="Become Partner"/>
              </div>
              <h3>Our Amazing Partners</h3>
              <p>
                Our partners build technology and software that bring more businesses online, enable new types of businesses, and help them work more effectively.
              </p>
            </a>
            <a class="read-more" href="../../partners/">Learn More <i
                  class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/2ndwatch/">
              <div class="hover-effect">
                <img class="fullscreen-img partners-img" src="{{ asset('@images/v2/logos/2ndwatch.svg') }}"
                     alt="2nd Watch Logo"/>
              </div>
              <h3>2nd Watch</h3>
              <p>
                2nd Watch, an AWS Premier Partner, was founded in 2010 with a fundamental
                belief that business and IT could come together and achieve great things for their customers! Simply put, we design, build and manage public clouds for
                Big Data Analytics, Cloud Native Applications, Business Applications and Digital Marketing.
              </p>
            </a>
            <a class="read-more" href="../../partners/2ndwatch/">Learn More <i
                  class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="footer-bg orange-block flex-column">
    <div class="container">
      <div class="center text-styles text-color-white">
        <h3>well done is better than well said.</h3>
        <h2>Let's Build Something Great Together</h2>
        <button class="btn btn-white start-project">Start a Project</button>
      </div>
    </div>
  </section>
</div>
{% endblock %}
