{% extends '../partners.twig' %}

{% block content %}
<div class="hide-mobile">
  <div class="space-top header flex-column gray-block">
    <div class="header__bg blue">
      <div class="bg bg-blue flex-column">
        <div class="container text-styles">
          <div class="flex-row display-grid">
            <div class="flex-item-3">
              <img class="header-img lazyload" data-src="{{ asset('@images/v2/illustration/google-white.svg') }}" alt="Google Cloud Logo"/>
            </div>
            <div class="flex-item-9 flex-column text-color-white">
              <p>Partners Program</p>
              <h1>Google Cloud Platform</h1>
              <h5 class="text-24 marginTop36">
                Google Cloud Platform, offered by Google, is a suite of cloud computing
                services that runs on the same infrastructure that Google uses internally
                for its end-user products, such as Google Search and YouTube.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gray-block">
    <div class="container center">
        <div class="widthBlock80 up80 down80 text-light text28">
          <span class="text-italic-semibold">Google Cloud Platform</span>, also known as <span class="text-italic-semibold">GCP</span>, consists of a set of physical assets,
          such as computers and hard disk drives, and virtual resources, such as virtual machines (VMs),
          that are contained in Google's data centers around the world.
        </div>
      <div class="small-images widthBlock80">
        <img class="main-img lazyload" 
          {{ images['/images/v2/illustration/google-map.png'] }}
          sizes="80vw"
          alt="Google Map">
        <div class="flex-row marginTop-94">
          <div class="flex-item-3 flex-column">
            <div>
              <img class="img-green" src="{{ asset('@images/v2/illustration/location-green.svg') }}" alt="Google Map"/> <span class="text-color-white">Current regions and number of zones</span>
            </div>
            <img class="img" src="{{ asset('@images/v2/illustration/world.svg') }}" alt="Google Map"/>
            <span class="text-color-blue">6</span>
            <span class="text-color-dark">Regions</span>
          </div>
          <div class="flex-item-3 flex-column">
            <div>
              <img class="img-blue" src="{{ asset('@images/v2/illustration/location-blue.svg') }}" alt="Google Map"/> <span class="text-color-white">Future regions and number of zones</span>
            </div>
            <img class="img" src="{{ asset('@images/v2/illustration/flag.svg') }}" alt="Google Map"/>
            <span class="text-color-blue">18</span>
            <span class="text-color-dark">Zones</span>
          </div>
          <div class="flex-item-3 flex-column">
            <span class="text-color-white  after">Edged point of presence (>100)</span>
            <img class="img" src="{{ asset('@images/v2/illustration/plug.svg') }}" alt="Google Map"/>
            <span class="text-color-blue">100+</span>
            <span class="text-color-dark">Points of presence</span>
          </div>
          <div class="flex-item-3 flex-column">
            <span class="text-color-white before">Leased and owned fiber</span>
            <img class="img" src="{{ asset('@images/v2/illustration/cable.svg') }}" alt="Google Map"/>
            <span class="text-color-blue">100k+</span>
            <span class="text-color-dark">Miles of fiber</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gray-block">
      <div class="container">
        <div class="half up80 down80 text28 center">
          Each data center location <br>is in a <span class="text-italic-semibold">global region.</span>
        </div>
        <div class="block-img marginBottom-200">
          <div class="flex-row display-grid">
            <div class="flex-item-7 what-is flex-column white-block-bg">
              <div class="text-color-dark text-italic">
                <span class="text-italic-semibold">Mitoc Group</span> is one of the primary contributors to <span class="text-italic-semibold">TerraHub.io</span> — the DevOps Hub for Terraform Automation
              </div>
            </div>

            <div class="flex-item-5">
              <img {{ images['/images/v2/png/google-png.png'] }} 
                sizes="(max-width: 600px) 90vw, 27vw"
                alt="Google Cloud Platform"/>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="blue-big-bg what-is paddingTop250">
    <div class="container">
      <div class="widthBlock80 text-color-white text-left down80">
        <h2 class="text-uppercase">Why GCP?</h2>
        <div class="text-italic">
          <span class="text-italic-semibold">TerraHub</span> is a terraform centric user interface driven devops tool. Partnering with <span class="text-italic-semibold">Google Cloud Platform</span> allowed us to increase performance of time to market and decrease customers costs of migration and automation in the cloud.
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="gray-block up80 down80">
      <div class="container">
        <div class="text-styles blue-text center">
          <h4 class="text-color-blue widthBlock70">Google Cloud Platform differs from other cloud providers in a variety of ways:</h4>
        </div>
        <div class="flex-row google-img block-space">
          <div class="flex-item-6">
            <div class="flex paddingBottom20">
              <img src="{{ asset('@images/v2/illustration/icon-1.svg') }}" alt="Illustration"/>
              <span class="flex-column text28">Google-grade <br>security</span>
            </div>
            <p>
              Google's security model is an end-to-end process, built on over 15 years of
              experience focused on keeping customers safe on Google applications like Gmail and
              Youtube. With GCP your applications and data take advantage of the same security
              model.
            </p>
            <div class="flex marginTop36 paddingBottom20">
              <img src="{{ asset('@images/v2/illustration/icon-3.svg') }}" alt="Illustration"/>
              <span class="flex-column text28">Global network</span>
            </div>
            <p>
              Google's backbone network has thousands of miles of fiber optic cable,
              uses advanced software-defined networking, and has edge caching services
              to deliver fast, consistent and scalable performance. In fact,
              we even laid our own fiber optic cable under the Pacific Ocean.
            </p>
            <div class="flex marginTop36 paddingBottom20">
              <img src="{{ asset('@images/v2/illustration/icon-5.svg') }}" alt="Illustration"/>
              <span class="flex-column text28">Environmentally <br>friendly</span>
            </div>
            <p>
              Google's data centers run on half the energy of a typical data center,
              and run on 100% renewable energy where available.
            </p>
          </div>

          <div class="flex-item-6">
            <div class="flex paddingBottom20">
              <img src="{{ asset('@images/v2/illustration/icon-2.svg') }}" alt="Illustration"/>
              <span class="flex-column text28">Billing by <br>the second</span>
            </div>
            <p>
              Google's Compute Engine instances are charged in one-second increments
              with a one-minute minimum, so you don't pay for compute minutes that you don't use.
            </p>
            <div class="flex marginTop36 paddingBottom20">
              <img src="{{ asset('@images/v2/illustration/icon-4.svg') }}" alt="Illustration"/>
              <span class="flex-column text28">Big data</span>
            </div>
            <p>
              Google's big data technology innovations like MapReduce, Bigtable, and Dremel,
              plus next-generation breakthrough services and frameworks
              for cloud data warehousing (BigQuery), advanced machine learning
              (Cloud Machine Learning Engine), batch and real-time data processing
              (Cloud Dataflow, Cloud Pub/Sub, Cloud Dataproc), intelligent data preparation
              (Cloud Dataprep) and stunning visual analytics (Google Data Studio)
              help you transform your business with powerful data insights.
              GCP big data analytics solutions are serverless, removing the complexity
              of building and maintaining a data analytics system,
              so you can accelerate your time-to-insight.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="gray-block up80 down80">
    <div class="container">
      <div class="text-styles center">
        <h3 class="text-color-green">it always seems impossible until it's done.</h3>
        <h2>Our Partners Are The Backbone Of Our Business</h2>
      </div>
      <div class="flex-row pictures-block marginTop36 partner-google">
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/aws/">
              <div class="hover-effect">
                <img class="partners-img" src="{{ asset('@images/v2/logos/aws.svg') }}" alt="Aws Logo"/>
              </div>
              <h3>Amazon Web Service</h3>
              <p>
                In 2006, Amazon Web Services (AWS) began offering IT infrastructure services
                to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to
                replace up-front capital infrastructure expenses with low variable costs that scale with your business.
              </p>
            </a>
            <a class="read-more" href="../../partners/aws/">Learn More
              <i class="mdi mdi-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/">
              <div class="hover-effect">
                <img class="partners-img lazyload" data-src="{{ asset('@images/v2/illustration/become-partner.svg') }}"
                     alt="Become Partner"/>
              </div>
              <h3>Our Amazing Partners</h3>
              <p>
                Our partners build technology and software that bring more businesses online, enable new types of businesses, and help them work more effectively.
              </p>
            </a>
            <a class="read-more" href="../../partners/">Learn More <i
                  class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
        <div class="flex-item-4 cols">
          <div class="services flex-column">
            <a href="../../partners/404moldova/">
              <div class="hover-effect">
                <img class="fullscreen-img partners-img lazyload" data-src="{{ asset('@images/v2/logos/404moldova.svg') }}"
                     alt="404 Moldova"/>
              </div>
              <h3>404 Moldova</h3>
              <p>
                404 Moldova is a coworking space for IT businesses and IT people from
                Moldova. We want to empower local IT community of small companies and skilled individuals to be competitive globally. Members of our community are
                proud to be working with Fortune 500 customers from Europe and USA.
              </p>
            </a>
            <a class="read-more" href="../../partners/404moldova/">Learn More <i
                  class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="footer-bg blue-block flex-column">
    <div class="container">
      <div class="center text-styles text-color-white">
        <h3>well done is better than well said.</h3>
        <h2>Let's Build Something Great Together</h2>
        <button class="btn btn-white start-project">Start a Project</button>
      </div>
    </div>
  </section>
</div>
{% endblock %}
