{% extends '../blog.twig' %}

{% block content %}

<header class="container u-maxWidth740">
    <div class="header-post display-flex">
        <div class="avatar-blog">
            <img src="{{ authors[author]['avatar'] }}" alt="{{ authors[author]['author'] }}" />
        </div>
        <div class="about">
            <div class="flex">
                <a href="{{ authors[author]['profile'] }}">{{ authors[author]['author'] }}</a>
                <a href="{{ authors[author]['twitter'] }}" class="btn-follow">
                    <span>Follow</span>
                </a>
            </div>
            <p>{{ authors[author]['bio'] }}</p>
        </div>
    </div>
</header>
<div class="post">

    <div class="container u-maxWidth740">
        <h1>{{ title }}</h1>
        <p class="graf-gray">{{ publicationDate }} {{ minRead }}</p>
        <p class="graf graf-up">{{ description }}</p>
        {{ htmlCode }}
      </div>

    <footer class="footer-post container u-maxWidth740">
        <div class="u-paddindBottom-20 u-paddindTop-20 line-up u-pagginfLeftRight-20">
            <div class="subscribeAuthorsContainer">
                <div class="flex-item-6">
                    <div class="displayTable">
                        <div class="avatar-blog">
                            <img src="{{ authors[author]['avatar'] }}" alt="{{ authors[author]['author'] }}" />
                        </div>
                    </div>

                    <div class="displayTable u-verticalAlignMiddle u-paddingLeft-15 u-paddingTop-15">
                        <div class="title-post u-paddingBotton-4">
                            <a href="{{ authors[author]['profile'] }}">{{ authors[author]['author'] }}</a>
                        </div>
                        <p class="p-footer u-paddingBotton-4">
                            {{ authors[author]['bio'] }}
                        </p>
                    </div>
                    <!--
                    <div class="displayTable u-verticalAlignTop">
                        <a href="{{ authors[author]['twitter'] }}" class="btn-follow u-paddingLeft-15">
                            <span>Follow</span>
                        </a>
                    </div>
                    -->
                </div>
                <div class="flex-item-6">
                    <div class="displayTable">
                        <div class="logo">
                            <img src="{{ asset('@images/favicon.ico') }}" alt="Mitoc Group Logo" />
                        </div>
                    </div>
                    <div class="displayTable u-verticalAlignMiddle u-paddingLeft-15 u-paddingTop-15">
                        <div class="title-post u-paddingBotton-4">
                            <a href="https://twitter.com/MitocGroup">Mitoc Group</a>
                        </div>
                        <p class="p-footer u-paddingBotton-4">
                            technology company focusing on automation using cloud native services
                            with proven track record helping clients migrate to the cloud, as well as
                            establish devops and dataops processes
                        </p>
                    </div>
                    <!--
                    <div class="displayTable u-verticalAlignTop">
                        <a href="https://twitter.com/intent/user?screen_name=MitocGroup" class="btn-follow displayTable u-verticalAlignTop u-paddingLeft-15">
                            <span>Follow</span>
                        </a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </footer>
  
    <div class="recomended-blogs container flex-column mt-30 mb-30">
        <div class="mt-30 recomended-blog-header">
                <h3>Recommended Posts </h3>
                <a class="btn btn-all-posts" href="/blog/"><span>See All Posts</span></a>
        </div>
        <div class="flex-row">
            {% for key, value in  recomendedPosts %}
                <div class="flex-item-3">
                    <div class="blog-post">
                        <a href="/blog/{{ key }}/">
                            <img {{ value.image|slice(0, value.image|length - 17) }} alt="Our Blog" class="lazyload recomended-blog-img"/>
                        </a>
                        <a href="/blog/{{ key }}/">
                            <h5>{{ value.title }}</h5>
                            <p class="description">{{ value.description }}</p>
                        </a>
                        <div class="learn-more-b">
                            <p class="gray-blog">{{ value.publicationDate }}</p>
                            <a href="/blog/{{ key }}/" class="learn-more">Learn more
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="comment-div">
            <div id="wpac-comment"></div>
            <script type="text/javascript">
            wpac_init = window.wpac_init || [];
            wpac_init.push({widget: 'Comment', id: 22532});
            (function() {
                if ('WIDGETPACK_LOADED' in window) return;
                WIDGETPACK_LOADED = true;
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = 'https://embed.widgetpack.com/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
            </script>
        </div>
    </div>
</div>


{% endblock %}
