{% extends '../blogs.twig' %}

{% block content %}

<header class="container u-maxWidth740">
    <div class="header-post display-flex">
        <div class="avatar-blog">
            <img src="{{ asset('@images/' ~ Author ~ '.png') }}" alt="{{ Author }}" />
        </div>
        <div class="about">
            <div class="flex">
                <a href="https://twitter.com/{{ Author }}">{{ Author }}</a>
                <a href="https://twitter.com/intent/user?screen_name={{ Author }}" class="btn-follow">
                    <span>Follow</span>
                </a>
            </div>
            <p>
                {{ AboutAuthor }}
            </p>
        </div>
    </div>
</header>
<div class="post">

    <div class="container u-maxWidth740">
        <h1>{{ Title }}</h1>
        <p class="graf-gray">{{ PublicationDate }}</p>
        <p class="graf graf-up">{{ Intro }}</p>
        {{ htmlCode }}
      </div>
</div>


{% endblock %}
